#!/bin/bash
  
PROJECT_DIR="$PWD"
PROJECT_NAME=`basename "$PWD"`
VENV_DIR="$HOME/.virtualenvs/$PROJECT_NAME"
REQUIREMENTS=(
    $PROJECT_DIR/requirements.txt
    $PROJECT_DIR/requirements/base.txt
    $PROJECT_DIR/requirements/production.txt
)

if [ ! -d "$VENV_DIR" ]; then
    echo "Creating new environment"
    virtualenv -p python3 $VENV_DIR
    for req in "${REQUIREMENTS[@]}"; do
        if [ -f $req ]; then
            echo "Installing requirements $req"
            $VENV_DIR/bin/pip3 install -r $req
        fi
    done;
fi

source $VENV_DIR/bin/activate
