# General settings
DJANGO_SETTINGS_MODULE="config.settings.production"
DJANGO_SECRET_KEY="{{cookiecutter.project.secret_key}}"
DJANGO_ALLOWED_HOSTS={{cookiecutter.websitedomains_str}}

# Used with email
DEFAULT_FROM_EMAIL="{{cookiecutter.user.email}}"
DJANGO_SERVER_EMAIL="{{cookiecutter.user.email}}"

# Better use nginx for this task
DJANGO_SECURE_SSL_REDIRECT=False

# Database settings
DATABASE_URL="{{cookiecutter.db_url}}"
