{% raw %}{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block inner %}
{% if validlink %}
  <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <div class="form-group text-center">
      <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" /></p>
    </div>
  </form>
{% else %}
  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  <div class="form-group text-center">
    <a class="btn btn-primary" href="{% url 'password_reset' %}">{% trans 'Request a new password' %}</a>
  </div>
{% endif %}
{% endblock %}{% endraw %}
