{% raw %}{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block inner %}
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
  {{ form|crispy }}
  <div class="form-group text-center">
    <button class="btn btn-primary" type="submit" name="action">{% trans "Reset my password" %}</button>
  </div>
</form>
{% endblock %}{% endraw %}
